.completedChallenges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #d7d8da;
  font-weight: 500;

  span:fist-child {
    font-size: 1.25rem;
  }

  span:last-child {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 400px) {
  .completedChallenges > span:last-child {
    font-size: 1.5rem;
  }
}

@media screen and (min-height: 700px) {
  .completedChallenges {
    padding-bottom: 1rem;
  }
}
