.countdown {
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);

  & > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--onBackground);
    box-shadow: var(--boxShadow);
    border-radius: var(--radius);
    font-size: 8.5rem;
    text-align: center;

    span {
      flex: 1;

      &:first-child {
        border-right: 1px solid var(--countdownDivider);
      }

      &:last-child {
        border-left: 1px solid var(--countdownDivider);
      }
    }
  }

  & > span {
    font-size: 6.25rem;
    margin: 0 0.5rem;
  }

  &Button {
    width: 100%;
    margin-top: 2rem;

    &Finished {
      background: var(--onBackground) !important;
      border-bottom: 5px solid var(--green) !important;

      svg {
        stroke: var(--green);
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .countdown {
    & > div {
      font-size: 6.5rem;
    }

    &Button {
      font-size: 1rem;
      height: 4rem !important;
      padding: 0 !important;
    }
  }
}
