$size: 40px;
$lite: #ccc;

.wrapper {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bars {
  width: $size / 6;
  height: 40px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  background: currentColor;
  color: $lite;
  animation: animBars 0.3s 0.3s linear infinite alternate;
  &::after,
  &::before {
    content: '';
    width: $size / 6;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    animation: animBars 0.3s 0.45s linear infinite alternate;
  }
  &::before {
    left: -20px;
    animation-delay: 0s;
  }
}

@keyframes animBars {
  0% {
    height: $size;
  }
  100% {
    height: $size / 10;
  }
}
